/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'material-design-lite/dist/material.blue_grey-orange.min.css'
 *= require_tree .
 *= require_self
 */

.demo-card-wide {
  width: 400px;
  .mdl-card__title {
    height: 176px;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }
  .mdl-card__title-text {
    color: black;
    position: absolute;
    bottom: 180px;
    margin-left: 10px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  .center {
    margin: auto;
    width: 5%;
    padding: 10px;
  }
  .mdl-spinner {
    position: absolute;
    top: 200px;
  }
}
